# InfluxDB (keep as-is)
INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=

# Scaling Range
MIN_REPLICAS=
MAX_REPLICAS=

# Training
ITERATION=
EPISODE=
LEARNING_STARTS=

# Kubernetes
NAMESPACE=
DEPLOYMENT_NAME=

# SLA
MAX_RESPONSE_TIME=

# Timing
TIMEOUT=
WAIT_TIME=
METRICS_INTERVAL=

# Prometheus
PROMETHEUS_URL=
METRICS_ENDPOINTS_METHOD=
METRICS_QUANTILE=

# Safety
MAX_SCALING_RETRIES=


# CSV Logging for Offline Training
CSV_LOG_DIR=

# Note
NOTE=

# Environment
LOG_LEVEL=
RESUME_PATH=
CLEAR_REPLAY_BUFFER=

# Offline
CSV_PATHS=

# Inferencing
MODEL_PATH=