NAMESPACE=
DEPLOYMENT_NAME=
PROMETHEUS_URL=
INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=
ALGORITHM=HPA
WAIT_TIME=
CHECK_INTERVAL=
METRICS_INTERVAL=
METRICS_QUANTILE=
METRICS_ENDPOINTS_METHOD=